mixin sContent(video)
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+b.section-title
			h3 Социокультурный облик российского купечества
			p Отрывок из&nbsp;книги Наталии Киприяновой &laquo;Социокультурный облик российского купечества (по&nbsp;материалам Уложенной комиссии 1767&nbsp;г.)&raquo; (Владимир.: Изд-во &laquo;Нива&raquo;, 2011). Книга посвящена преставлениям купечества о&nbsp;собственном социальном статусе, основах предпринимательской деятельности, государственной власти и&nbsp;местного управления. Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого.
			p «Региональные особенности требований купеческого сословия»(Глава 2, параграф&nbsp;2, страницы 49-58)
		if video
		else
			p Колоссальность пространства, которое занимала Россия в&nbsp;середине XVIII&nbsp;в., предопределила своеобразие природных и&nbsp;экономических условий развития ее&nbsp;регионов. Часть районов была включена в&nbsp;состав Российской империи относительно недавно, в&nbsp;XVII&nbsp;&mdash; первой половине XVIII&nbsp;вв., сохранив особенности своего исторического прошлого. Эти отличия (географические, экономические, исторические) оказали определенное воздействие на&nbsp;формирование образа жизни, мировоззрения и&nbsp;мировосприятия купечества, проживающего на&nbsp;данных территориях. Выявление региональных характеристик социокультурного облика купечества поможет наполнить конкретно-историческим содержанием процесс становления сословия и&nbsp;позволяет реально представить тот комплекс проблем и&nbsp;противоречий, которые способствовали его консолидации, или, наоборот, задерживали.
			+e.UL.list
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida 
				li Lorem ipsum dolor sit amet, consectetu
					ul
						li Lorem ipsum dolor sit 
						li Lorem ipsum do.
				li Lorem ips
			+b.mediaContent
				+e.img-wrap
					+img('img/sAbout-img-1.jpg')
				span Description
			mixin articleTable(th1, th2, th3, th4)
				+e.tableWrap
					table
						thead
							tr
								th(scope='col')!= th1
								th(scope='col')!= th2
								th(scope='col')!= th3
								th(scope='col')!= th4
						tbody
							block

			mixin articleTableContent(thead, td1, td2, td3)
				tr
					th(scope='row')!= thead
					td!= td1
					td!= td2
					td!= td3
			h6 H6 Header two line words description
			+articleTable('Maecenas', 'Phasellus', 'Gravida', 'Integer')
				+articleTableContent('Nullam', 'Tincidunt', 'Tincidunt', 'Dapibus')
				+articleTableContent('Luctus', 'Mauris', 'Felis', 'Aenean')
				+articleTableContent('Dignissim', 'Vestibulum', 'Fusce', 'Donec')
			+b.BLOCKQUOTE 
				h4 Социокультурный облик российского купечества (по материалам Уложенной комиссии 1767 г.)
				cite Наталия Киприянова
			h3.mono &laquo;Региональные особенности требований купеческого сословия&raquo;
			p Выделение купечества как отдельной сферы деятельности и&nbsp;как сословия [1] характеризует общественное разделение труда. Территориальное разделение означает хозяйственную специализацию районов. В&nbsp;научной литературе утвердилась точка зрения, что именно в&nbsp;XVIII&nbsp;в., особенно во&nbsp;второй его половине, произошел качественный скачок, в&nbsp;результате чего экономическая специализация стала более четкой и&nbsp;определенной [2] . Однако, к&nbsp;60-м гг. XVIII&nbsp;в. границы районов еще не&nbsp;установились окончательно. Отечественные исследователи много сделали для выяснения специфики отдельных регионов и&nbsp;для экономического районирования России в&nbsp;целом [3] . Как правило, они опираются на&nbsp;предложения, выдвинутые в&nbsp;свое время известными исследователями &mdash; К.И. Арсеньевым и&nbsp;П.П. Семеновым-Тян-Шанским [4] . В&nbsp;настоящей работе учтено 10&nbsp;регионов, которые традиционно выделяются для этого времени: I.&nbsp;Центрально-промышленный; II. Северный; III. Северо-Западный [5] ; IV. Западный; V.&nbsp;Малороссия; VI. Центрально-земледельческий; VII. Восточно-земледельческий [6] ; VIII. Южный промыслово-скотоводческий (включая Нижнее Поволжье): IX. Сибирь, X.&nbsp;Уральский промышленный.
			+e.OL.number-list
				li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida 
				li Lorem ipsum dolor sit amet, consectetu
					ol
						li Lorem ipsum dolor sit 
						li Lorem ipsum do.
				li Lorem ips
			h4.mono Центрально-промышленный
			h5.mono Малороссия и Северный район
			p Выделенные районы значительно различаются по&nbsp;площади, количеству городов и&nbsp;численности учтенных жителей посада. Естественно, что территории, где купечества было больше, могли предоставить и&nbsp;большее количество требований, и&nbsp;состав этих требований был разнообразнее, чем в&nbsp;регионах с&nbsp;небольшим количеством городов и&nbsp;малым количеством торгово-промышленного населения. Относительная сопоставимость региональных требований купечества возможна лишь при учете соотношения общего количества выдвинутых требований и&nbsp;общего количества зафиксированного населения. Для этого нами был введен условный &laquo;индекс сопоставимости&raquo;&nbsp;&mdash; отношение количества требований в&nbsp;регионе к&nbsp;численности торгово-посадского населения. В&nbsp;результате произведенных подсчетов было установлено, что наибольшую активность проявило купечество Уральского промышленного района. Здесь на&nbsp;одного жителя приходилось 0,07&nbsp;требования. Активность купечества остальных регионов выглядела следующим образом: Малороссия и&nbsp;Северный район&nbsp;&mdash; 0,05; Центрально-промышленный, Северо-Западный и&nbsp;Западный&nbsp;&mdash; 0,04; Центрально-земледельческий, Восточно-земледельческий, Южный промыслово-скотоводческий&nbsp;&mdash; 0,03; Сибирь&nbsp;&mdash; 0,02. Таким образом, купечество районов с&nbsp;явно выраженной аграрной специализацией было несколько пассивнее, чем в&nbsp;регионах, где преобладала торгово-промысловая и&nbsp;промышленная деятельность.
			+b.mediaContent
				mixin slide(i)
					+e.slide.swiper-slide
						+e.item
							+img(`img/sAbout-img-${i}.jpg`, `bg`)
				+e.slider--js.swiper
					.swiper-wrapper
						+slide(2)
						+slide(1)
						+slide(2)
						+slide(1)
					.swiper-scrollbar
					+arrow()
				span Description
		+b.mediaContent.mb-lg-0 
			+e.video-wrap
				<iframe src="https://www.youtube.com/embed/L_LUpnjgPso" title="Fireplace 10 hours full HD" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		+soc()
			+item-sos('tg')
			+item-sos('vk')
	// end sContent