include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin main-page-head(img, title, filter)
	+b.main-page-head.bg-wrap&attributes(attributes)
		+e.img-wrap.picture-bg
			+img(`img/${img}`, 'bg')
		.container.p-0
			if title
				h1!= title
			if filter
				+e.filter
					+e.filter-row.row
						.col-md-auto
							+input('Все', 'select', 'Регионы').active
						.col-md-auto
							+input('Все', 'select', 'Регионы')
						.col-md-auto
							+input('Все', 'select', 'Регионы')
						.col-md-auto
							+input('Все', 'select', 'Регионы')

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin success()
	+b.success
		+e.cross
		+e.title Вы успешно подписаны на нашу рассылку
		p Теперь Вы&nbsp;всегда будете вкурсе всех новостей нашего портала

mixin sMaterialsTootlip(text, icon)
	+e.tooltip-wrap
		+e.tooltip-hover!= text
		+icon(icon)

mixin sMaterialsItem(img, title, text, date, name, ...items)
	+e.col.col-12.col-md-6.col-lg-4&attributes(attributes)(data-aos="fade-up")
		+b.sMaterials-item
			block
			+e.img-wrap
				img(src=`img/${img}`)
			+e.content 
				if name
					+e.name!= name
				.h4!= title 
				+e.text(href="#")!= text
				+e.date!= date
				+e.inner-row.row
					each item in items
						+e.inner-col--shown.col-auto
							+e.link(href="#")!= item
					+e.inner-col--js.col-auto
						+e.link--js: +icon('more-horizontal')
						+e.show-more
							+e.inner-row.row
								.col-auto
									+e.link(href="#") Управление
								.col-auto
									+e.link(href="#") Освоение
								.col-auto
									+e.link(href="#") Люди
								.col-auto
									+e.link(href="#") Пограничье
								.col-auto
									+e.link(href="#") Образы территории

mixin sMaterialsItemSecond(img, title, text, date, name, ...items)
	+e.col.col-12.col-md-6(data-aos="fade-up")
		+b.sMaterials-item--second.bg-wrap
			block
			+e.img-wrap.picture-bg
				img(src=`img/${img}`)
			+e.content 
				if name
					+e.name!= name
				.h5!= title 
				+e.text(href="#")!= text
				+e.date!= date
				+e.inner-row.row
					each item in items
						+e.inner-col--shown.col-auto
							+e.link(href="#")!= item
					+e.inner-col--js.col-auto
						+e.link--js: +icon('more-horizontal')
						+e.show-more
							+e.inner-row.row
								.col-auto
									+e.link(href="#") Управление
								.col-auto
									+e.link(href="#") Освоение
								.col-auto
									+e.link(href="#") Люди
								.col-auto
									+e.link(href="#") Пограничье
								.col-auto
									+e.link(href="#") Образы территории